#outer{
	border:2px solid black;
	height:400px;
	width:250px;
	border-radius:6px;
}
#inner{
	padding:10px;
	margin:0px;
	background-color:red;
}
#inner p{
	color:white;
	text-align:center;
	font-size:30px;
}
#outer:hover{
	height:450px;
	width:280px;
	#inner{
		background-color:green;
	}
}