table{
	border-collapse:collapse;
	
}
tr,th{
	padding:10px;
	font-family:Verdana;
	margin:10px;
	text-align:center;
}
td,th{
	border:2px solid #dddddd;
	height:40px;
}
tr:nth-child(2n){
	background-color:#dddddd;
}